.container {
  padding: 20px;
  height: calc(100vh - 100px);
}

.table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.th {
  border: 1px solid #000000;
  padding: 4px;
  background-color: #e6e7e8;
}

.td {
  border: 1px solid #000000;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

.mediumVerticalImage {
  height: 600px;
  width: 450px;
}